*{
    margin: 0;
    padding: 0;
}
#textarea{
   width: 100%;
   padding: 10px;
   font-size: large;
   border: none;outline: none;

}
input:focus{
    border: none;
    outline: none;
}
input{
outline: none;
    border: none;
    font-size: large;
}
.tools{
    position: fixed;
    bottom: 0px;
    margin-bottom: 10px;
    display: flex;
}
.text-icons>* {

    border-radius: 4px;
    padding: 15px;
    background-color: rgba(88, 88, 88, 0.13);
    border: 2px ;

  
}
.underline{
    text-decoration: underline;
}
.text_right{
    text-align: right;
}
.text_left{
    text-align: left;
}
.bold{
    font-weight:bold ;
}
.italic{
    font-style: italic;
}
.list{
list-style: circle;
}
#all-tools{
    margin: 10px;
   
}
#all-tools>i{
margin: 5px;
}
